body {
  background-color: rgb(238, 238, 238);
  margin-left: 700px;
  color: aliceblue;
}

.Placar {
  background-color: rgb(87, 87, 87);
  margin-top: 100px;
  width: 950px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Match {
  margin-bottom: 80px;
  padding: 5px;
}

.Confrontation {
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.Championship {
  margin-top: 50px;
}